# ignore any directory named tiktoken-encoder-*
tiktoken-encoder-*
# ignore the vendor dir
vendor
# do not ignore .gemspec files
!*.gemspec
# ignore .gem files
*.gem
# ignore pprof files from anywhere in the hierarchy
**/*.pprof
# ignore os x files
.DS_Store
